.form {
  margin: 20px;
}

select,
input {
  height: 50px;
  width: 200px;
  font-size: 1.5rem;
  margin: 5px;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
}

button {
  height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #00802b;
  padding: 10px 15px;
  border: none;
}
